
// -------------------------
$icon-font-path       : "../../fonts/";
$theme-font-path      :"../../fonts/";

// Image
// -------------------------
$image-theme-path     :'../../image/orange/';
$image-theme-path-base:'../../image/'!default;

$orange                 :#ff9100;
$theme-color          :$orange; 
$theme-color-lighten: #fba432 !default;
$theme-color-darken:#f38b02 !default;
$theme-color-darker:#e68403;
