
// -------------------------
$icon-font-path       : "../../fonts/";
$theme-font-path      :"../../fonts/";

// Image
// -------------------------
$image-theme-path     :'../../image/green/';
$image-theme-path-base:'../../image/'!default;

$green              :#8bc34a;
$theme-color        :$green; 
$theme-color-lighten: #a0d465 !default;
$theme-color-darken :#90be5b !default;
$theme-color-darker :#7bb23b;